<div class="potlucks_index">
<%@potlucks.each do |potluck| %>
<ul>
  <li class="link_to_potluck"><%= link_to potluck.description, potluck%>
</ul>
<% end %>
<div class="create_own"><%= link_to "Create your own Potluck", new_potluck_path %></div>
</div>
