<div class="new_user">
  <h1>Hi <%=@user.name%></h1>
<h3>Please choose if you would like to host a potluck or attend one</h3>
<ul>
<li class="host_or_attend"><%=link_to "Host a Potluck", new_potluck_path(@potluck)%></li>
<li class="host_or_attend"><%=link_to "Attend Potluck", "/potluck_foods/new"%></li>
</ul>
</div>
